.panel {
    display:inline-block;
    vertical-align: top;
}

.panel-left {
    width:35%;
}

.panel-right {
    width:63%;
}



.email-container {
    background-color: lightblue;
}
.date-group {
    text-align:center;
    margin: 5% 0 5% 0;
}

.hidden {
    display:none;
}


@media only screen and (min-width: 1000px) {

    .email-container {
        max-width: unset;
        padding-top:5px;
    }

    input[type="date"] {
        display: inline;
        max-width: 30%;
    }

    .email-body {
        padding: 10px;
    }

}

.form-control {
    margin-bottom: 15px;
}