.email-container{
    background-color: lightblue;
}
.date-group{
    text-align:center;
    margin: 5% 0 5% 0;
}

.hidden{
    display:none;
}
@media only screen and (min-width: 1000px) {

    .email-container{
        max-width: unset;
        padding-top:5px;
    }

    input[type=date]{
        display: inline;
        max-width: 30%;
    }

    .email-body{
        background-color: white;
        min-height: 400px;
        padding: 10px;
        margin-top:10px;
    }

    .preview{
        max-height: 400px;
        overflow: scroll;
        zoom: 100%;
    }

    textarea#email-body, .editable {
        min-height: 400px;
    }
}